{% load static %}

<link href='{{ STATIC_URL }}monitoring/css/custom_monitor.css' type="text/css" rel="stylesheet"/>

<style>
.grid-item {
        width: 250px;
        -webkit-box-shadow: 0px 0px 2px 0px rgba(128,128,128,1);
        -moz-box-shadow: 0px 0px 2px 0px rgba(128,128,128,1);
    /* vertical gutter */
        margin: 0 auto;
        margin-bottom: 20px;
}

</style>

<div ng-controller = "vmMonitoringController"
         ng-init="fetchStatus('{% get_static_prefix %}')">
    <div class="page-title">
        <div class="title_left">
               &nbsp;
              </div>
        <div class="title_right">
    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
              <div class="input-group">
                <input type="text" class="form-control" ng-model="vmsearchquery" placeholder="Search vms...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Go!</button>
                </span>
              </div>
            </div>
        </div>
    </div>
    <br/> 

    <div layout="row" layout-align="center center">
        <div class="mainContainer">
            <masonry reload-on-resize="" class="grid" masonry-options="{ gutter : 10, columnWidth: 250, fitWidth: true, resize: true, transitionDuration: 0}">
                <div class="masonry-brick grid-item" ng-repeat="vm in VMsData | filterBy: ['display']: vmsearchquery">
                    <md-card class="customCard">
                        <md-toolbar class="shrinktoolbar {$vm.class$}">
                            <div class="md-toolbar-tools shrinktoolbartools" ng-class="{$vm.class$}">
                                <span flex=""></span>
                                <h2 class="md-title">
                                  {$ vm.display | limitTo: 20 $}{$vm.display.length > 20 ? '&hellip;' : ''$}
                                </h2>
                                <span flex=""></span>
                            </div>
                        </md-toolbar>
                        <md-card-title layout="column">

                            <div layout="column" layout-align="center center">
                                <i class="{$vm.icon$} fa-3x {$vm.class$}text" aria-hidden="true"></i>
                                <h3 class="md-headline {$vm.class$}text" style="margin:0">{$vm.class$}
                                </h3>
                            </div>
                        </md-card-title>

                        <md-card-content layout="column">

                            <table class="table">
                                <thead>
                                  <tr>
                                    <th>Name</th>
                                    <th>Status</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr ng-repeat="alar in vm.alarms">
                                    <td class="md-subhead">{$alar.name$}</td>
                                    <td class="md-subhead">
                                        <span ng-if="alar.status == 'OK'">
                                                    <i class="fa fa-play-circle Healthytext" aria-hidden="true"></i> OK
                                        </span>

                                        <span ng-if="alar.status == 'ALARM'">
                                             <i class="fa fa-times Criticaltext" aria-hidden="true"></i> Problem
                                        </span>

                                        <span ng-if="alar.status == 'UNDETERMINED'">
                                            <i class="fa fa-hourglass-half Calculatingtext" aria-hidden="true"></i> Loading
                                        </span>
                                    </td>
                                  </tr>
                                </tbody>
                            </table>
                            
                             <!--    <div class="row" ng-repeat="alarm in vm.alarms" ng-if="alarm.name=='Vm Status' || alarm.name == 'Vm Crashed' ">
                                    <div class="col-xs-6 md-subhead" ng-if="alarm.name != 'Vm Crashed' ">
                                        {$alarm.name$}
                                    </div>
                                    <div class="col-xs-6 md-subhead" ng-if="alarm.status == 'OK' && alarm.name == 'Vm Status' ">
                                        <i class="fa fa-play-circle Healthytext" aria-hidden="true"></i> Running
                                    </div>
                                    <div class="col-xs-6 md-subhead" ng-if="alarm.status == 'ALARM' && alarm.name == 'Vm Status' ">
                                        <i class="fa fa-power-off Crticaltext" aria-hidden="true"></i> ShutOff
                                    </div>
                                    <div class="col-xs-6 md-subhead" ng-if="alarm.status == 'UNDETERMINED' && alarm.name == 'Vm Status' ">
                                        <i class="fa fa-hourglass-half Calculatingtext" aria-hidden="true"></i> Loading
                                    </div>
                                    <div class="col-xs-12 md-subhead" ng-if="alarm.name == 'Vm Crashed' && alarm.status == 'ALARM'">
                                        <i class="fa-times-circle Crticaltext" aria-hidden="true"></i> VM has been Crashed
                                    </div>
                                   
                                    <div class="row" style="padding-left: 5%" ng-repeat="alar in vm.alarms"
                                        ng-if="alarm.name == 'Vm Status' &amp;&amp; alarm.status == 'OK' ">

                                        <div ng-if="alar.metrics[0].name != 'host_alive_status'">
                                            <p class="col-xs-6 md-subhead">
                                                {$alar.name$}
                                            </p>
                                            <p class="col-xs-6 md-subhead" ng-if="alar.status == 'OK'">
                                                <i class="fa fa-check Healthytext" aria-hidden="true"></i> OK
                                            </p>
                                            <p class="col-xs-6 md-subhead" ng-if="alar.status == 'ALARM'">
                                                <i class="fa fa-times Criticaltext" aria-hidden="true"></i> Problem
                                            </p>
                                            <p class="col-xs-6 md-subhead" ng-if="alar.status == 'UNDETERMINED'">
                                                <i class="fa fa-hourglass-half Calculatingtext" aria-hidden="true"></i> Loading
                                            </p>
                                         </div>

                                    </div>
                                   

                                </div> -->
                            

                        </md-card-content>

                    </md-card>
                </div>
            </masonry>
            </div>
    </div>

 
    <md-checkbox ng-model="devpurpose" >
         For Development Purpose
    </md-checkbox>
    
    <pre ng-show="devpurpose">{$VMsData | json$}</pre>
   

</div>

