{% load static %}

<link href='{{ STATIC_URL }}monitoring/css/custom_monitor.css' type="text/css" rel="stylesheet"/>

<style>
.grid-item {
        width: 300px;
        -webkit-box-shadow: 0px 0px 2px 0px rgba(128,128,128,1);
        -moz-box-shadow: 0px 0px 2px 0px rgba(128,128,128,1);
    /* vertical gutter */
        margin: 0 auto;
        margin-bottom: 20px;
}

</style>
<div ng-controller = "hostMonitoringController"
         ng-init="fetchStatus('{% get_static_prefix %}')">

    <div layout="row" layout-align="center center">
        <div class="mainContainer">
            <masonry reload-on-resize="" class="grid" masonry-options="{ gutter : 10, columnWidth: 300, fitWidth: true, resize: true, transitionDuration: 0}">
                <div class="masonry-brick grid-item" ng-repeat="host in HostsData">
                    <md-card class="customCard">
                        <md-toolbar class="shrinktoolbar {$host.class$}">
                            <div class="md-toolbar-tools shrinktoolbartools" ng-class="{$host.class$}">
                                <span flex=""></span>
                                <h2 class="md-title">
                                  {$ host.display | limitTo: 20 $}{$host.display.length > 20 ? '&hellip;' : ''$}
                                </h2>
                                <span flex=""></span>
                            </div>
                        </md-toolbar>
                        <md-card-title layout="column">

                            <div layout="column" layout-align="center center">
                                <i class="{$host.icon$} fa-3x {$host.class$}text" aria-hidden="true"></i>
                                <h3 class="md-headline {$host.class$}text" style="margin:0">{$host.class$}
                                </h3>
                            </div>
                        </md-card-title>

                        <md-card-content layout="column" layout-padding="" layout-wrap="">
                            <div flex="99" ng-repeat="(key,value) in host.alarms | groupBy: 'name'">
                                <h3 class="md-title">{$key$}</h3>
                                <md-divider></md-divider>
                                <table class="table">
                                    <thead>
                                      <tr>
                                        <th class="md-body-2">Name</th>
                                        <th class="md-body-2">Status</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="metric in value">
                                            <td class="md-subhead">

                                                <span ng-if="metric.metrics[0].name == 'process.pid_count'">{$metric.metrics[0].dimensions.process_name$} </span>

                                                 <span ng-if="metric.metrics[0].name == 'log.error' || metric.metrics[0].name == 'log.warning'">{$metric.metrics[0].dimensions.process_name$} </span>

                                                <span ng-if="metric.metrics[0].name != 'process.pid_count' &amp;&amp; metric.metrics[0].name != 'log.error' &amp;&amp; metric.metrics[0].name != 'log.warning'">{$metric.metrics[0].name$} </span>

                                            </td>
                                            <td class="md-subhead">
                                                <span ng-if="metric.status == 'OK'">
                                                    <i class="fa fa-play-circle Healthytext" aria-hidden="true"></i> OK
                                                </span>

                                                <span ng-if="metric.status == 'ALARM'">
                                                     <i class="fa fa-times Criticaltext" aria-hidden="true"></i> Problem
                                                </span>

                                                <span ng-if="metric.status == 'UNDETERMINED'">
                                                    <i class="fa fa-hourglass-half Calculatingtext" aria-hidden="true"></i> Loading
                                                </span>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </md-card-content>

                    </md-card>
                </div>
            </masonry>
            </div>
    </div>

 
    <md-checkbox ng-model="devpurpose" >
         For Development Purpose
    </md-checkbox>
    
    <pre ng-show="devpurpose">{$HostsData | json$}</pre>
   

</div>

