{% load static %}

<style>
.chicklet-container {
 border: 1px solid #F1F1F1;
 color:black;
 font-weight: bold;
 background-color: white;
 padding: 14px 35px 14px 14px;
 margin-bottom: 18px;
 border-radius: 4px;
}
.base-chicklet {
 border: 3px solid;
 color: #7C7C7C;
 background-color: white;
 display:inline-block;
 padding:0px;
 text-shadow: 0 1px 0 rgba(255,255,255,.5);
 border-radius: 4px;
}


.status-icon-holder {
 background-color: #EDEEF0;
 float: left;
 padding-top:10px;
 padding-left: 6px;
 padding-right: 2px;
 padding-bottom: 10px;
 border-right:2px solid;
 border-color: #D8D7DD;
}
.service-text {
 float: right;
 margin: 10px;
 min-width: 60px;
}

.customCard
{
    margin: 0 !important;
}


.grid {
 width : 5000px;
    padding-top: 1%;
    padding-bottom: 2%;
}
.mainContainer
{
    width : 5000px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid:after {
  content: '';
  display: block;
  clear: both;
}


.grid-item {
        width: 300px;
        -webkit-box-shadow: 0px 0px 2px 0px rgba(128,128,128,1);
        -moz-box-shadow: 0px 0px 2px 0px rgba(128,128,128,1);
    /* vertical gutter */
        margin: 0 auto;
        margin-bottom: 20px;
}

 .shrinktoolbar {
            min-height: 45px !important;
        }
        
        .shrinktoolbartools {
            max-height: 45px !important;
        }
        
        md-card.customCard md-card-title {
            padding: 12px 16px 16px;
        }
        
        .customAlign {
            padding-left: 10px;
            margin-top: -5px;
        }
        
        .removestyle {
            list-style-type: none;
        }
        
        .Healthy {
            background-color: #388E3C !important;
        }
        
        .Healthytext {
            color: #52B628 !important;
        }
        
        .Critical {
            background-color: #d32f2f !important;
        }
        
        .Criticaltext {
            color: #c62828;
        }
        
        .Warning {
            background-color: #F57C00 !important;
        }
        
        .Warningtext {
            color: #F57C00;
            margin: 0;
        }
        
        .UnHealthy {
            background-color: #CDDC39 !important;
        }
        
        .UnHealthytext {
            margin: 0;
            color: #CDDC39;
        }
        
        .PowerOff {
            background-color: #78909C !important;
        }
        
        .PowerOfftext {
            color: #607D8B;
            margin: 0
        }
        
        .Calculating {
            background-color: #9E9E9E !important;
        }
        
        .Calculatingtext {
            color: #616161;
            margin: 0;
        }
       
</style>
<div ng-controller = "hostMonitoringController"
         ng-init="fetchStatus('{% get_static_prefix %}')">

    <div layout="row" layout-align="center center">
        <div class="mainContainer">
            <masonry reload-on-resize="" class="grid" masonry-options="{ gutter : 10, columnWidth: 300, fitWidth: true, resize: true, transitionDuration: 0}">
                <div class="masonry-brick grid-item" ng-repeat="host in HostsData">
                    <md-card class="customCard">
                        <md-toolbar class="shrinktoolbar {$host.class$}">
                            <div class="md-toolbar-tools shrinktoolbartools" ng-class="{$host.class$}">
                                <span flex=""></span>
                                <h2 class="md-title">
                                  {$ host.display | limitTo: 20 $}{$host.display.length > 20 ? '&hellip;' : ''$}
                                </h2>
                                <span flex=""></span>
                            </div>
                        </md-toolbar>
                        <md-card-title layout="column">

                            <div layout="column" layout-align="center center">
                                <i class="{$host.icon$} fa-3x {$host.class$}text" aria-hidden="true"></i>
                                <h3 class="md-headline {$host.class$}text" style="margin:0">{$host.class$}
                                </h3>
                            </div>
                        </md-card-title>

                        <md-card-content layout="column" layout-padding="" layout-wrap="">
                            <div flex="99" ng-repeat="(key,value) in host.alarms | groupBy: 'name'">
                                <h3 class="md-title">{$key$}</h3>
                                <md-divider></md-divider>
                                <table class="table">
                                    <thead>
                                      <tr>
                                        <th class="md-body-2">Name</th>
                                        <th class="md-body-2">Status</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="metric in value">
                                            <td class="md-subhead">

                                                <span ng-if="metric.metrics[0].name == 'process.pid_count'">{$metric.metrics[0].dimensions.process_name$} </span>

                                                 <span ng-if="metric.metrics[0].name == 'log.error' || metric.metrics[0].name == 'log.warning'">{$metric.metrics[0].dimensions.process_name$} </span>

                                                <span ng-if="metric.metrics[0].name != 'process.pid_count' &amp;&amp; metric.metrics[0].name != 'log.error' &amp;&amp; metric.metrics[0].name != 'log.warning'">{$metric.metrics[0].name$} </span>

                                            </td>
                                            <td class="md-subhead">
                                                <span ng-if="metric.status == 'OK'">
                                                    <i class="fa fa-play-circle Healthytext" aria-hidden="true"></i> OK
                                                </span>

                                                <span ng-if="metric.status == 'ALARM'">
                                                     <i class="fa fa-times Criticaltext" aria-hidden="true"></i> Problem
                                                </span>

                                                <span ng-if="metric.status == 'UNDETERMINED'">
                                                    <i class="fa fa-hourglass-half Calculatingtext" aria-hidden="true"></i> Loading
                                                </span>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </md-card-content>

                    </md-card>
                </div>
            </masonry>
            </div>
    </div>

 
    <md-checkbox ng-model="devpurpose" >
         For Development Purpose
    </md-checkbox>
    
    <pre ng-show="devpurpose">{$HostsData | json$}</pre>
   

</div>

