.chicklet-container {
 border: 1px solid #F1F1F1;
 color:black;
 font-weight: bold;
 background-color: white;
 padding: 14px 35px 14px 14px;
 margin-bottom: 18px;
 border-radius: 4px;
}
.base-chicklet {
 border: 3px solid;
 color: #7C7C7C;
 background-color: white;
 display:inline-block;
 padding:0px;
 text-shadow: 0 1px 0 rgba(255,255,255,.5);
 border-radius: 4px;
}


.status-icon-holder {
 background-color: #EDEEF0;
 float: left;
 padding-top:10px;
 padding-left: 6px;
 padding-right: 2px;
 padding-bottom: 10px;
 border-right:2px solid;
 border-color: #D8D7DD;
}
.service-text {
 float: right;
 margin: 10px;
 min-width: 60px;
}

.customCard
{
    margin: 0 !important;
}


.grid {
 width : 5000px;
    padding-top: 1%;
    padding-bottom: 2%;
}
.mainContainer
{
    width : 5000px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid:after {
  content: '';
  display: block;
  clear: both;
}


 .shrinktoolbar {
    min-height: 45px !important;
}
        
.shrinktoolbartools {
    max-height: 45px !important;
}

md-card.customCard md-card-title {
    padding: 12px 16px 16px;
}

.customAlign {
    padding-left: 10px;
    margin-top: -5px;
}

.removestyle {
    list-style-type: none;
}

.Healthy {
    background-color: #388E3C !important;
}

.Healthytext {
    color: #52B628 !important;
}

.Critical {
    background-color: #d32f2f !important;
}

.Criticaltext {
    color: #c62828;
}

.Warning {
    background-color: #F57C00 !important;
}

.Warningtext {
    color: #F57C00;
    margin: 0;
}

.UnHealthy {
    background-color: #CDDC39 !important;
}

.UnHealthytext {
    margin: 0;
    color: #CDDC39;
}

.PowerOff {
    background-color: #78909C !important;
}

.PowerOfftext {
    color: #607D8B;
    margin: 0
}

.Calculating {
    background-color: #9E9E9E !important;
}

.Calculatingtext {
    color: #616161;
    margin: 0;
}